body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
  max-width: 1000px;
  padding: 2rem;
  box-sizing: border-box;
}
.languages {
  position: absolute;
  top: 70px;
  right: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  color: #333;
  font-weight: 600;
  line-height: 1.0;
}
.languages a {
  color: #007accd6;
  text-decoration: none;
  font-weight: revert;
  transition: color 0.2s ease;
}
.languages a:hover {
  color: #007acc;
  cursor: pointer;
}

.box {
  background: #fff;
  border: 1px solid #ddd;
  padding: 1.3rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.header {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.photo {
  width: 120px;
  height: 120px;
  background-color: #ddd;
  border-radius: 50%;
  flex-shrink: 0;
}
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: start;
}
.tech {
  color: #666;
  font-weight: normal;
}

.info h1 {
  margin: 0;
  font-size: 24px;
  color: #2c3e50;
}
.info p {
  margin: 4px 0;
  color: #333;
}

h2 {
  color: #2c3e50;
  margin-top: 0;
  margin-bottom: 6px;
}
ul {
  padding-left: 1.2em;
}
a {
  color: #007acc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.left-column {
  grid-column: 1;
  grid-row: 2;
}
.right-column {
  grid-column: 2;
  grid-row: 2;
  justify-content: space-between;
}
.left-column > .box:last-child {
  margin-top: auto;
}

@media print {
  body {
    padding: 0;
    margin: 0;
    background: white;
  }
  .container {
    padding: 0 !important;
    max-width: 100% !important;
    box-shadow: none !important;
    border: none !important;
  }
  .box {
    /* box-shadow: none !important; */
    /* border: none !important; */
    padding: 1.0rem !important;
  }
  .languages {
    display: none !important;
  }
  a[href]:after {
    content: "" !important;
  }
  .left-column,
  .right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .left-column > .box:last-child {
    margin-top: 0 !important;
  }
  .right-column {
    justify-content: flex-start !important;
  }
  .left-column > .box:first-child,
  .right-column > .box:first-child {
    flex: 1 !important;
  }
}